#blog-search {
	background-color: #141a1b;
	border-style: none;
	border-radius: 100px;
	text-align: center;
	color: white;
	padding: 5px;
	width: 50%;
}

#blog-search::placeholder {
	color: #9daaa8;
	opacity: 1;
}

#categories {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.blog-category, .post-category {
	background-color: #141a1b;
	color: #9daaa8;
	border-color: #16a085;
	border-radius: 100px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	padding: 5px;
	vertical-align: top;
	transition: background-color 0.1s, color 0.1s;
}

.blog-category:hover {
	background-color: #16a085;
	color: #141a1b;
}

#blog-posts {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.post, #post-detail {
	display: flex;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #9daaa8;
	padding: 1.5%;
}

.post {
	gap: 15px;
}

.post-img {
	flex: 1;
	width: 100%;
	border: 1px #9daaa8 solid;
	border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	cursor: pointer;
	position: relative;
	transition: opacity 0.15s;
}

.post-img-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.post-img:hover {
	opacity: 0.8;
}

.post-info {
	display: flex;
	flex-direction: column;
	flex: 2;
}

.post-category {
	margin-bottom: 5px;
	transition: background-color 0.1s, color 0.1s;
}

.post-category:hover {
	background-color: #16a085;
	color: #141a1b;
}

.post-title, .detail-title {
	display: block;
	color: #9daaa8;
	text-align: left;
	font-size: 2.2rem;
}

.post-title {
	text-decoration: none;
	transition: color 0.15s;
}

.created_at {
	font-size: 0.8rem;
	text-align: left;
	margin-bottom: 10px;
}

.post-intro {
	text-align: justify;
	inline-size: auto;
	word-break: break-all;
	overflow-wrap: break-word;
    hyphens: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-intro > p {
	text-align: justify;
}

.post-title:hover {
	color: #16a085;
}

.post-tags {
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: 0.8rem;
	margin-top: 5px;

}

.post-tag-button {
	background-color: #16a085;
	color: #141a1b;
	font-size: 0.8rem;
	border-style: none;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: top;
	padding: 2px;
	transition: background-color 0.1s, color 0.1s, text-decoration 0.1s;
}

.post-tag-button:hover {
	background-color: #141a1b;
	color: #9daaa8;
	text-decoration: underline;
}

.continue-button {
	background-color: #9daaa8;
	color: #141a1b;
	border-color: #1b2224;
	border-radius: 100px;
	border-style: solid;
	border-width: 2px;
	margin-top: 10px;
	text-decoration: none;
	cursor: pointer;
	padding: 5px;
	transition: background-color 0.1s, color 0.1s;
}

.continue-button:hover {
	background-color: #16a085;
	color: #141a1b;
}

#post-detail {
	flex-direction: column;
	height: 100%;
}

.detail-path {
	font-size: 0.8rem;
	text-align: left;
	margin-bottom: 10px;
}

.simple-link, .simple-link-gt {
	font-size: 0.8rem;
	color: lightblue;
	text-decoration: none;
}

.simple-link-gt {
	pointer-events: none;
}

.simple-link:hover {
	color: #16a085;
	text-decoration: underline;
}

.detail-body {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 1px;
	border-color: #9daaa8;
	border-left: none;
	border-right: none;
	border-bottom: none;
	text-align: justify;
	padding-top: 2%;
	margin-top: 0.5%;
}

.detail-body > p {
	text-align: justify;
}

.detail-img {
	width: 80%;
	align-self: center;
	border: 1px #9daaa8 solid;
	border-radius: 10px;
	margin-bottom: 2%;
}

@media screen and (max-width: 992px) {
	.post {
		flex-direction: column;
	}

	.post-img {
		min-height: 200px;
	}
}

@media screen and (min-width: 2560px) {
	.simple-link, .simple-link-gt {
		font-size: 0.9rem;
	}

	.post-title, .detail-title {
		font-size: 3rem;
	}

	.created_at {
		font-size: 1.1rem;
		margin-bottom: 20px;
	}

	.blog-category, .post-category, .continue-button, #blog-search {
		padding: 10px;
	}

	.post {
		gap: 30px;
	}

	.post-tags {
		column-gap: 6px;
	}

	.post-tags > p {
		font-size: 1.1rem;
	}

	.post-tag-button {
		font-size: 1.1rem;
		border-radius: 4px;
		padding: 3px;
	}

	.continue-button {
		margin-top: 20px;
	}
}

@media screen and (min-width: 3840px) {
	.simple-link, .simple-link-gt {
		font-size: 1rem;
	}

	.post-title, .detail-title {
		font-size: 3.3rem;
	}

	.created_at {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}

	.blog-category, .post-category, .continue-button, #blog-search {
		padding: 10px;
	}

	.post {
		gap: 40px;
	}

	.post-tags {
		column-gap: 8px;
	}

	.post-tags > p {
		font-size: 1.2rem;
	}

	.post-tag-button {
		font-size: 1.2rem;
		border-radius: 5px;
		padding: 5px;
	}

	.continue-button {
		margin-top: 25px;
	}
}

@media screen and (min-width: 5120px) {
	.simple-link, .simple-link-gt {
		font-size: 1.3rem;
	}

	.post-title, .detail-title {
		font-size: 3.8rem;
	}

	.created_at {
		font-size: 1.4rem;
		margin-bottom: 25px;
	}

	.blog-category, .post-category, .continue-button, #blog-search {
		padding: 15px;
	}

	.post {
		gap: 50px;
	}

	.post-tags {
		column-gap: 12px;
	}

	.post-tags > p {
		font-size: 1.4rem;
	}

	.post-tag-button {
		font-size: 1.4rem;
		border-radius: 6px;
		padding: 6px;
	}

	.continue-button {
		margin-top: 30px;
	}
}

@media screen and (min-width: 7680px) {
	.simple-link, .simple-link-gt {
		font-size: 1.5rem;
	}

	.post-title, .detail-title {
		font-size: 4.2rem;
	}

	.created_at {
		font-size: 1.6rem;
		margin-bottom: 40px;
	}

	.blog-category, .post-category, .continue-button, #blog-search {
		padding: 20px;
	}

	.post {
		gap: 60px;
	}

	.post-tags {
		column-gap: 15px;
	}

	.post-tags > p {
		font-size: 1.6rem;
	}

	.post-tag-button {
		font-size: 1.6rem;
		border-radius: 10px;
		padding: 10px;
	}

	.continue-button {
		margin-top: 40px;
	}
}