{% extends 'main.html' %}
{% load static %}


{% block title %}

	<title>Blog | Chris's Website!</title>

{% endblock title %}


{% block content %}

<div>

	<form style="text-align: center;" method="GET" action="{% url 'search' %}">
		<input id="blog-search" type="text" placeholder="Blog Search" name="query">
	</form>

</div>


<h1>Topics</h1>
<div id="categories">

	{% for category in categories %}
	<form action="{% url 'category_detail' category.slug %}">
		<button class="blog-category" type="submit">{{ category.title }}</button>
	</form>
	{% endfor %}

</div>

<h1>Articles</h1>

{% include 'list_posts.html' %}

{% endblock content %}