{% extends 'main.html' %}

{% load static %}
{% load image_url %}

{% block content %}

<div id="post-detail">

	<div id="detail-path">
		<a class="simple-link" href="{% url 'blog' %}">Blog</a>
		<a class="simple-link-gt" href="">&gt;</a>
		<a class="simple-link" href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a>
		<a class="simple-link-gt" href=".">&gt;</a>
		<a class="simple-link" href="{% url 'post_detail' post.category.slug post.slug %}">{{ post.title }}</a>
	</div>

	<div>
		<div class="detail-title">{{ post.title }}</div>
		<div class="created_at">by Chris - {{ post.created_at | date:'M d, Y'}}</div>
		<div id="detail-path">
			{% if tags.exists %}
			<p style="display: inline;">tags:</p>
				{% for tag in tags %}
					<a class="simple-link" href="{% url 'tag_detail' tag.slug %}">#{{ tag }}</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="detail-body">

		<img class="detail-img" src="{{ post.header_img.url }}" alt="header-image">
		{{ post.body | safe }}
	</div>

</div>

{% endblock %}