{% extends 'main.html' %}

{% block content %}

<div class="div-content">

	<div class="detail-path">
		<a class="simple-link" href="{% url 'blog' %}">Blog</a> > <a class="simple-link" href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a> > <a class="simple-link" href="{% url 'post_detail' post.category.slug post.slug %}">{{ post.title }}</a>
	</div>

	<div>
		<div class="detail-title">{{ post.title }}</div>
		<div class="created_at">by Chris - {{ post.created_at | date:'M d, Y'}}</div>
	</div>
	<div class="detail-body">{{ post.body }}</div>

</div>

{% endblock %}