{% extends 'main.html' %}

{% block content %}


<div align="center" style="margin-bottom: 30px;">

	<form method="get" action="{% url 'search' %}">
		<input id="blog-search" type="text" placeholder="Blog Search" name="query">
	</form>

</div>


<h1 align="center" style="margin-bottom: 5px;">Topics</h1>
<div align="center" style="margin-bottom: 30px;">

	{% for category in categories %}
	<form action="{% url 'category_detail' category.slug %}" style="display: inline;">
		<button id="blog-category" type="submit">{{ category.title }}</button>
	</form>
	{% endfor %}

</div>


<h1 align="center">Recent Posts</h1>
<div align="center">

	{% for post in posts %}

		{{ post.created_at | date:'M-d-Y'}}<br>
		<a class="simple-link" href="{% url 'post_detail' post.category.slug post.slug %}">
		{{ post.title }}<br>
		{{ post.intro }}<br>
		</a>

		<form action="{% url 'category_detail' post.category.slug %}">
			<button id="blog-category" type="submit">{{ post.category }}</button>
		</form>

		<br>

	{% endfor %}

</div>

{% endblock content %}