{% extends 'main.html' %}

{% block content %}


<div class="div-content">

	<form style="text-align: center;" method="GET" action="{% url 'search' %}">
		<input id="blog-search" type="text" placeholder="Blog Search" name="query">
	</form>

</div>


<h1>Topics</h1>
<div class="div-content">

	{% for category in categories %}
	<form action="{% url 'category_detail' category.slug %}" style="display: inline;">
		<button class="blog-category" type="submit">{{ category.title }}</button>
	</form>
	{% endfor %}

</div>

<h1>Articles</h1>

<div class="div-content">

	{% for post in posts %}

		<div class="post">
			<form action="{% url 'category_detail' post.category.slug %}">
				<button class="post-category" type="submit"># {{ post.category }}</button>
			</form>

			<a class="post-title" href="{% url 'post_detail' post.category.slug post.slug %}">{{ post.title }}</a>

			<div class="created_at">
				by Chris - {{ post.created_at | date:'M d, Y'}}
			</div>

			<div class="post-intro">
				{{ post.intro }}
			</div>

			<form action="{% url 'post_detail' post.category.slug post.slug %}">
				<button class="continue-button" type="submit">Continue Reading &rArr;</button>
			</form>
		</div>

	{% endfor %}

</div>

{% endblock content %}