{% extends 'main.html' %}

{% block content %}

<div class="div-content">

	<h1>Search Results</h1>
	<h3>Query: "{{query}}"</h3>

	{% for post in posts %}

		<div class="post">
			<form action="{% url 'category_detail' post.category.slug %}">
				<button class="post-category" type="submit"># {{ post.category }}</button>
			</form>

			<a class="post-title" href="{% url 'post_detail' post.category.slug post.slug %}">{{ post.title }}</a>

			<div class="created_at">
				by Chris - {{ post.created_at | date:'M d, Y'}}
			</div>

			<div class="post-intro">
				{{ post.intro }}
			</div>

			<form action="{% url 'post_detail' post.category.slug post.slug %}">
				<button class="continue-button" type="submit">Continue Reading &rArr;</button>
			</form>
		</div>

		{% empty %}
		<div>
			<br>
			<h3>No results for given query...</h3>
		</div>

	{% endfor %}

</div>

{% endblock content %}