{% load static %}
<footer class="footer">
	<p class="footer-text">OTHER CHANNELS</p>
	<a class="footer-link" href="https://github.com/chrisdelmoro" target="_blank"><img src="{% static 'images/github-icon.png' %}" alt="Github" width="25px"></a>
	<a class="footer-link" href="https://github.com/chrisdelmoro" target="_blank"><img src="{% static 'images/linkedin-icon.png' %}" alt="Linkedin" width="25px"></a>
	<a class="footer-link" href="https://www.youtube.com/@chrisdelmoro" target="_blank"><img src="{% static 'images/youtube-icon.png' %}" alt="Youtube" width="25px"></a>
	<a class="footer-link" href="https://github.com/chrisdelmoro" target="_blank"><img src="{% static 'images/rss-icon.png' %}" alt="RSS" width="25px"></a>
</footer>