{% load static %}
<footer id="footer">
	<div id="footer-content">
		<div id="footer-text"><p>OTHER CHANNELS</p></div>
		<div id="footer-icons">
			<a href="https://github.com/chrisdelmoro" target="_blank">
				<img class="channel-icon" src="{% static 'images/github-icon.png' %}" alt="Github">
			</a>
			<a href="https://github.com/chrisdelmoro" target="_blank">
				<img class="channel-icon" src="{% static 'images/linkedin-icon.png' %}" alt="Linkedin">
			</a>
			<a href="https://www.youtube.com/@chrisdelmoro" target="_blank">
				<img class="channel-icon" src="{% static 'images/youtube-icon.png' %}" alt="Youtube">
			</a>
			<a href="https://github.com/chrisdelmoro" target="_blank">
				<img class="channel-icon" src="{% static 'images/rss-icon.png' %}" alt="RSS">
			</a>
		</div>
	</div>
</footer>