{% load static %}
<footer class="footer">
	<div class="footer-content">
		<div class="footer-text"><p>OTHER CHANNELS</p></div>
		<div class="footer-icons">
			<a class="footer-link" href="https://github.com/chrisdelmoro" target="_blank"><img src="{% static 'images/github-icon.png' %}" alt="Github" height="24px"></a>
			<a class="footer-link" href="https://github.com/chrisdelmoro" target="_blank"><img src="{% static 'images/linkedin-icon.png' %}" alt="Linkedin" height="24px"></a>
			<a class="footer-link" href="https://www.youtube.com/@chrisdelmoro" target="_blank"><img src="{% static 'images/youtube-icon.png' %}" alt="Youtube" height="24px"></a>
			<a class="footer-link" href="https://github.com/chrisdelmoro" target="_blank"><img src="{% static 'images/rss-icon.png' %}" alt="RSS" height="24px"></a>
		</div>
	</div>
</footer>