<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/navbar.css' %}">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/footer.css' %}">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/blog.css' %}">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/contact.css' %}">
	<title>Chris's Blog!</title>
</head>
<body>
	<div id="wrapper">
		{% include 'navbar.html' %}
		<main id="boxes">
			<div class="column"></div>
			<div id="column-content">
				{% block content %}


				{% endblock%}
			</div>
			<div class="column"></div>
		</main>
		{% include 'footer.html' %}
	</div>
</body>
<script src="{% static 'js/navbar-current.js' %}"></script>
</html>