.footer {
	background-color: #141a1b;
	min-height: 3.9rem;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.footer-text {
	display: flex;
	align-items: center;
	height: 50%;
	color: white;
}

.footer-icons {
	display: flex;
	height: 50%;
	column-gap: 10px;
	color: white;
}
