body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:rgb(34, 43, 46);
	color: rgb(157, 170, 168);
	margin: 0;
}

.navbar {
	background-color: rgb(20, 26, 27);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	/* border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(157, 170, 168); */
}

.navbar-link {
	color: white;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-link:hover {
	color:rgb(20, 26, 27);
	background-color: rgb(22, 160, 133);
	border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.navbar-link.current {
	border-bottom: 2px solid #38d9a9;
}

.simple-link {
	color: lightblue;
	text-decoration: none;
}

.simple-link:hover {
	color:rgb(22, 160, 133);
	text-decoration: underline;
}

.footer {
	background-color: #141a1b;
	padding-top: 20px;
	padding-bottom: 20px;
/* 	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(157, 170, 168); */
	text-align: center;
}

.footer-text {
	color: white;
	font-size: 15px;
	padding-bottom: 10px;
	margin: 0;
}

.footer-link {
	padding-right: 2px;
	padding-left: 2px;
}