* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0.5vw;
}

::-webkit-scrollbar-track {
	background: #222b2e;
}

::-webkit-scrollbar-thumb {
	background: #9daaa8;
}

::-webkit-scrollbar-thumb:hover {
	background: #16a085;
}

html, body {
	height: 100svh;
	min-width: 250px;
}

body {
	background-color: #141a1b;
	color: #9daaa8;
}

h1 {
	margin: 2%;
	font-size: 2rem;
}

form {
	text-align: left;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.site-body {
	flex: 10;
}

.content-layout {
	display: flex;
	height: 100%;
}

.content-deadspace {
	background-color: #1b2224;
	flex: 1;
}

#content-body {
	background-color: #222b2e;
	color: #9daaa8;
	text-align: justify;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	flex: 5;
}

@media screen and (max-width: 992px) {
	.content-body {
		flex: 7;
	}
}

@media screen and (max-width: 768px) {
	.content-body {
		flex: 10;
	}
}

@media screen and (max-width: 600px) {
	.content-deadspace {
		flex: 0;
	}

	.content-body {
		flex: 1;
	}
}