* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #222b2e;
	color: #9daaa8;
}

.navbar {
	background-color: #141a1b;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.navbar-link {
	color: white;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	transition: background-color 0.1s, color 0.1s, border-bottom-width 0.1s, border-bottom-style 0.1s, border-bottom-color 0.1s;
}

.navbar-link:hover {
	color: #141a1b;
	background-color: #16a085;
	border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.navbar-link.current {
	border-bottom: 2px solid #16a085;
	transition: background-color 0.1s, color 0.1s, border-bottom-width 0.1s, border-bottom-style 0.1s, border-bottom-color 0.1s;
}

.navbar-link.current:hover {
	color: #141a1b;
	background-color: #16a085;
	border-bottom: 2px solid white;
}

#blog-search {
	background-color: #141a1b;
	border-style: none;
	border-radius: 30px;
	text-align: center;
	color: white;
	padding: 5px;
	margin-top: 5px;
}

#blog-search::placeholder {
	color: white;
	opacity: 1;
}

.blog-category {
	background-color: #141a1b;
	color: #9daaa8;
	border-color: #16a085;
	border-radius: 100px;
	border-style: solid;
	border-width: 2px;
	text-decoration: none;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin: auto;
	vertical-align: top;
	transition: background-color 0.1s, color 0.1s;
}

.blog-category:hover {
	background-color: #16a085;
	color: #141a1b;
}

.post-category {
	background-color: #141a1b;
	color: #9daaa8;
	border-color: #16a085;
	border-radius: 100px;
	border-style: solid;
	border-width: 2px;
	text-decoration: none;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	vertical-align: top;
	transition: background-color 0.1s, color 0.1s;
}

.post-category:hover {
	background-color: #16a085;
	color: #141a1b;
}

.post {
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #9daaa8;
	margin-top: 15px;
}

.post-title {
	display: block;
	color: #9daaa8;
	font-size: 36px;
	text-decoration: none;
	transition: color 0.15s;
	margin-top: 5px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 5px;
}

.created_at {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2%;
	margin-right: 2%;
}

.post-intro {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2%;
	margin-right: 2%;
}

.post-title:hover {
	color: #16a085;
}

.continue-button {
	background-color: #9daaa8;
	color: #141a1b;
	border-color: #1b2224;
	border-radius: 100px;
	border-style: solid;
	border-width: 2px;
	text-decoration: none;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 2%;
	margin-bottom: 2%;
	vertical-align: top;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
	transition: background-color 0.1s, color 0.1s;
}

.continue-button:hover {
	background-color: #16a085;
	color: #141a1b;
}

.simple-link {
	color: lightblue;
	text-decoration: none;
}

.simple-link:hover {
	color: #16a085;
	text-decoration: underline;
}

#boxes {
	content: "";
	display: table;
	clear: both;
}

.column {
	display: table-cell;
	width: 15vw;
	background-color: #1b2224;
}

#column-content {
	display: table-cell;
	width: 70vw;
	background-color: #222b2e;
}

.footer {
	background-color: #141a1b;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	float: none;
}

.footer-text {
	color: white;
	font-size: 15px;
	padding-bottom: 10px;
}

.footer-link {
	padding-right: 2px;
	padding-left: 2px;
}