.navbar {
	background-color: #141a1b;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
}

.navbar-link {
	color: white;
	text-decoration: none;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 0.8vw;
	padding-right: 0.8vw;
	transition: background-color 0.1s, color 0.1s, border-bottom-width 0.1s, border-bottom-style 0.1s, border-bottom-color 0.1s;
}

.navbar-link:hover {
	color: #141a1b;
	background-color: #16a085;
	border-bottom-width: 0.18rem;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.navbar-link.current {
	border-bottom: 0.18rem solid #16a085;
	transition: background-color 0.1s, color 0.1s, border-bottom-width 0.1s, border-bottom-style 0.1s, border-bottom-color 0.1s;
}

.navbar-link.current:hover {
	color: #141a1b;
	background-color: #16a085;
	border-bottom: 0.18rem solid white;
}