{% extends 'main.html' %}

{% block content %}

<h1>Contact</h1>

<div>
	<form method="POST" action=".">
		{% csrf_token %}

		<div id="contact-wrapper">

			<div id="contact-half-field-wrapper">
				<div class="contact-half-field">{{ form.name }}</div>
				<div class="contact-half-field">{{ form.from_email }}</div>
			</div>
			<div class="contact-full-field">{{ form.subject }}</div>
			<div class="contact-full-field">{{ form.message }}</div>

			<div class="contact-full-field"><button id="contact-submit">Submit</button></div>

		</div>
	</form>
</div>

{% endblock content %}