{% extends 'main.html' %}

{% block content %}

<h1>Contact</h1>

<div>
	<form method="POST" action=".">
		{% csrf_token %}

		<div style="width: 100%;">
			<div style="width: 50%; float: left; padding-right: 0.5%;">{{ form.name }}</div>
			<div style="width: 50%; float: left; padding-left: 0.5%;">{{ form.from_email }}</div>
			<div style="width: 100%;">{{ form.subject }}</div>
			<div style="width: 100%;">{{ form.message }}</div>

			<div style="width: 100%;"><button class="contact-submit">Submit</button></div>
		</div>
	</form>
</div>

{% endblock content %}