{% extends 'main.html' %}


{% block title %}<title>Contact | Chris's Website!</title>{% endblock title %}


{% load static %}

{% block content %}

<div>
	<p class="contact-other-channels-text">Your contact e-mail was sent successfully!</p>
	<br>
	<p>If for some reason you do not get a response, you can try to contact me on my other channels:</p>

	<div id="contact-other-channels-box">
		<figure>
			<a href="https://github.com/chrisdelmoro" target="_blank">
				<img class="contact-other-channel-icon" src="{% static 'images/github-icon.png' %}" alt="Github">
			</a>
			<figcaption>Github</figcaption>
		</figure>
		<figure>
			<a href="https://github.com/chrisdelmoro" target="_blank">
				<img class="contact-other-channel-icon" src="{% static 'images/linkedin-icon.png' %}" alt="Linkedin">
			</a>
			<figcaption>LinkedIn</figcaption>
		</figure>
		<figure>
			<a href="https://www.youtube.com/@chrisdelmoro" target="_blank">
				<img class="contact-other-channel-icon" src="{% static 'images/youtube-icon.png' %}" alt="Youtube">
			</a>
			<figcaption>YouTube</figcaption>
		</figure>
	</div>
</div>

{% endblock content %}
