{% extends 'main.html' %}
{% load static %}


{% block title %}<title>Home | Chris's Website!</title>{% endblock title %}


{% block content %}

<h1>Chris's Webpage</h1>

<div id="home-intro">
	<div id="intro-text">
		<p>&#128513; Hi, I'm Christian, and welcome to my website.</p>
		<p>&#128393; I created this website to help me reinforce what I learn through the creation of tutorials.</p>
		<p>&#129690; I consider myself a maker in training. I love to created and fix things. Both digitally and IRL.
		I am currently learning a lot about programming and computer science.</p>
		<p>&#128506; I'm based in São Paulo, Brazil.</p>
		<p>&#128445; If you decide to follow my articles here, don't expect the
		topics to always be computer science related. Since I have a lot of
		interests, ranging from programming to woodworking. I can post about pretty
		much anything here.</p>
	</div>
	<div id="intro-photo-box">
		<figure>
			<img id="intro-photo" src="{% static 'images/Profile3.jpg' %}" alt="Me">
			<figcaption><i><b>Me</b></i></figcaption>
		</figure>
	</div>
</div>


<h1>Recent Posts</h1>

{% include 'list_posts.html' %}

{% endblock content %}