{% extends 'main.html' %}
{% load static %}


{% block title %}

	<title>Home | Chris's Website!</title>

{% endblock title %}


{% block content %}

<h1>Chris's Webpage</h1>

<div id="home-intro">
	<div id="intro-text">
			Hi! I'm Christian and this is my personal space on the internet!
			I created this website as parte of my personal journey learning Python,
			and as a place where I can publish tutorials as a form os reinforcing
			what I learn.
			If you decide to follow my articles here, don't expect the
			topics to always be computer science related. Since I have a lot of
			interests, ranging from programming to woodworking. I can post about pretty
			much anything here.
	</div>
	<div id="intro-photo-box">
		<figure>
			<img id="intro-photo" src="{% static 'images/Profile3.jpg' %}" alt="Me">
			<figcaption><i><b>Me</b></i></figcaption>
		</figure>
	</div>
</div>


<h1>Recent Posts</h1>

{% include 'list_posts.html' %}

{% endblock content %}