{% extends 'main.html' %}
{% load static %}

{% block content %}

<h1>Chris's Webpage</h1>

<div id="home-intro">
	<div id="intro-text">
			Hi! I'm Christian and this is my personal space on the internet!
			I created this website as parte of my personal journey learning Python,
			and as a place where I can publish tutorials as a form os reinforcing
			what I learn.
			If you decide to follow my articles here, don't expect the
			topics to always be computer science related. Since I have a lot of
			interests, ranging from programming to woodworking. I can post about pretty
			much anything here.
	</div>
	<div id="intro-photo-box">
		<figure>
			<img id="intro-photo" src="{% static 'images/Profile3.jpg' %}" alt="Me">
			<figcaption><i><b>Me</b></i></figcaption>
		</figure>
	</div>
</div>


<h1>Recent Posts</h1>

<div id="blog-posts">

	{% for post in posts %}

	<div class="post">
		<div class="post-img" style="background-image: url({% static 'images/post-img7.jpg' %})">
			<a class="post-img-link" href="{% url 'post_detail' post.category.slug post.slug %}"></a>
		</div>

		<div class="post-info">
			<form action="{% url 'category_detail' post.category.slug %}">
				<button class="post-category" type="submit"># {{ post.category }}</button>
			</form>

			<a class="post-title" href="{% url 'post_detail' post.category.slug post.slug %}">{{ post.title }}</a>

			<div class="created_at">
				by Chris - {{ post.created_at | date:'M d, Y'}}
			</div>

			<div class="post-intro">
				{{ post.intro | safe }}
			</div>

			<form action="{% url 'post_detail' post.category.slug post.slug %}">
				<button class="continue-button" type="submit">Continue Reading &rArr;</button>
			</form>
		</div>
	</div>

	{% endfor %}

</div>

{% endblock content %}